<!DOCTYPE html>
<html>
  <head>
    <title>Secret</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body  style="margin: 0;">
    <!--<div class="background">-->
    <!--  <header class="header">-->
    <!--    <div class="header_menu">-->
    <!--      <%= image_tag "icon.png", alt: "icon", id: "assets", class: "icon" %>-->
    <!--      <%= image_tag "file.png", alt: "icon", id: "assets", class: "file" %>-->
    <!--      <%= image_tag "call.png", alt: "icon", id: "assets", class: "call" %>-->
    <!--      <%= image_tag "search.png", alt: "icon", id: "assets", class: "search" %>-->
    <!--    </div>-->
    <!--    <div class="community">-->
    <!--      <p1 class="community_name">community.</p1>-->
    <!--    </div>-->
    <!--    <div class="grid-6">-->
    <!--      <%= link_to "new", new_user_registration_path, class: "post" %>-->
    <!--    </div>-->
    <!--    <div class="friend-name">-->
    <!--      <%= image_tag "name-blue.png", alt: "friend_name", id: "assets", class: "friend_name" %>-->
    <!--    </div>-->
    <!--  </header>-->
  
      <%= yield %>
      
      <!--<div class="chat-in">-->
      <!--  <div class="chat-menu">-->
      <!--    <%= form_tag('/chats', method: :post) do %>-->
      <!--      <h2 class=d-title>chat</h2>-->
      <!--      <input type="string" name="name" placeholder="name">-->
      <!--      <textarea name="text" placeholder="text" rows="1"></textarea>-->
      <!--      <input type="submit" value="send">-->
      <!--    <% end %>-->
      <!--  </div>-->
      <!--</div>-->
    <!--</div>-->
  </body>
</html>
